<div class="card">
    <div class="card-header bg-{{bgColor}}">
        Personal Details
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <tr>
                <th>First Name: </th>
                <td>{{person.firstName}}</td>
            </tr>
            <tr>
                <th>Last Name: </th>
                <td>{{person.lastName}}</td>
            </tr>
            <tr>
                <th>Age: </th>
                <td>{{person.age}}</td>
            </tr>
            <tr>
                <th>Email: </th>
                <td>{{person.email}}</td>
            </tr>
            <tr>
                <th>Mobile No: </th>
                <td>{{person.mobileNo}}</td>
            </tr>
        </table>
    </div>
</div>